*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;

}

html,body{

	height: 100%;

}

.center{

	width: 98%;
	max-width: 1280px;
	margin: 0 auto;
}


.clear{

	clear: both;
}

/* AQUI COMEÇA O HEADER */

header{

	background-color: black;
	width: 100%;
	height: 100px;
	padding: 10px 0;
	border-bottom: 2px solid white;

}

.header-img{

	width: 150px;
	height: 80px;
	position: relative;
	float: left;
}

.header-img > img{

	max-width: 150px;
	margin-top: -35px;
	position: absolute;
}

header nav.desktop{

	float: right;
	position: relative;


}


nav.desktop ul li{

	float: left;
	padding: 30px 30px;
	list-style: none;

}


header nav.desktop a{

	color: white;
	text-decoration: none;
}

header nav.mobile{

	display: none;
	cursor: pointer;
	float: right;
	color: white;
	width: 40px;
	height: 50px;
	background-image: url('../imagens/icons/menu.png');
	background-repeat: no-repeat;
	background-position-y: 28px;
}

nav.mobile ul{

	display: none;
	width: 100%;
	background-color: black;
	position: absolute;
	left: 0;
	top: 100px;
	text-align: center;
	z-index: 999;
	border-bottom: 1px solid #ffdf2d;

}

nav.mobile li{

	font-size: 20px;
	padding: 20px 0;

}

nav.mobile li a{

	color: white;
	text-decoration: none;

}

/*-------------------------------------------------------*/

	/* AQUI COMEÇA O BANNER */

section.banner .banner-perfil{

	width: 85%;
	padding: 100px 2%;
	max-width: 800px;
	height: 500px;
	float: left;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: white;


}

section.banner .banner-perfil-img{

	width: 300px;
	height: 300px;
	float: left;
	background-color: white;
	border-radius: 250px;
	background-image: url('../imagens/imgperfil/imgperfil.jpg');
	background-size: cover;
	background-position-y: -90px;
}

section.banner .banner-perfil-text{


	float: left;
	margin-top: 100px;
	margin-left: 10px;
}

section.banner .banner-perfil-text h2{

	
	font-size: 40px;
}


/*-------------------------------------------------------*/

	/* ESTILIZANDO OS BOTÕES DO BANNER */

section.banner{

	width: 100%;
	height: 500px;
	background-color: black;
}

button{


	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	position: relative;
	background-color: white;
	border: none;
	cursor: pointer;

}




button img{

	max-width: 40px;
}

.banner-sociais{

	float: left;
}

.redes-sociais-text{

	cursor: pointer;
	width: 205px;
	height: 40px;
	float: left;
	position: relative;
	display: inline-block;
	color: black;
	background-color: white;
	display: none;
	border-left: 1px solid black;

}

.redes-sociais-text h3{

	transition: 1000s;	
	position: absolute;
	white-space: nowrap;
	margin: 8px;
}

.insta-box{

	position: absolute;
	left: 0;
	top: 255px;

}

.telefone-box{

	position: absolute;
	left: 0;
	top: 305px;

}

.email-box{

	position: absolute;
	left: 0;
	top: 355px;
}

.linkedin-box{

	display: flex;
	position: absolute;
	left: 0;
	top: 405px;
	
}

.linkedin{
	position: relative;
	left: 5px;
}

/*------------------------------------------*/

	/* AQUI COMEÇA O POS BANNER */

section.pos-banner{

	width: 100%;
	height: 100px;
	background-color: black;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	text-align: center;

}

section.pos-banner img{

	max-width: 100px;
	

}

/*------------------------------------------*/

	/* AQUI COMEÇA O PERFIL */

section.perfil-container{

	width: 100%;
	padding: 0 20%;
}

.perfil-container-wraper{

	padding: 50px 20px;
	position: relative;
	display: flex;

}

.perfil-container-img{

	min-width: 350px;
	height: 400px;
	background-color: yellow;
	text-align: center;
	background-image: url('../imagens/imgperfil/imgperfil2.png');
	background-size: cover;	
	filter: brightness(0.5);
}

.perfil-container-text{

	width: 80%;
	max-width: 500px;
	padding-left: 10px;

	
}
	
/*------------------------------------------*/

	/* AQUI COMEÇA A ABA DE SERVIÇOS */

section.servicos-div{


	width: 100%;
	height: 150px;
	background-color: black;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	padding: 40px 0;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
}

section.servicos-div img{

	position: relative;
	max-width: 55px;
	margin: 0 5%;
	opacity: 50%;
}

section.servicos-div h3{

	color: white;
	margin-top: -20px;
	margin-bottom: 10px;
	text-align: center;
	
}
/*------------------------------------------*/

	/* AQUI COMEÇA A ABA DE CONTATO */

section.contato-div{

	width: 100%;
	height: 700px;
	background-image: url('../imagens/imgcontato.jpg');
	background-size: cover;
	border-bottom: 2px solid white;
	background-repeat: no-repeat;
	background-position: center;

}

section.contato-div .contato-div-form{

	max-width: 450px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	padding: 75px 2%;
	position: relative;
	top: -20%;
	transform: translateY(20%);
	border: 1px solid #ccc;
}

section.contato-div .contato-div-form h2{

	color: white;
	text-align: center;
	margin-bottom: 30px;
}

form input[type=text]{

	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	outline: none;
	padding: 0 2%;
}

form input[type=submit]{

	font-size: 20px;
	width: 100%;
	height: 40px;
	border-radius: 30px;
	background-color: #ffdf2d;
	cursor: pointer;
	border: none;
	
}

form input[type=submit]:hover{

	background-color: #f4d525;
}

.contato-div-form img{

	max-width: 100px;
	position: relative;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

/*------------------------------------------*/

	/* AQUI COMEÇA O FOOTER */

footer{

	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	padding: 38px 2%;

}

footer h3:nth-of-type(1){

	float: left;
}

footer h3:nth-of-type(2){

	float: right;
}

/*------------------------------------------*/

	/* AQUI COMEÇA A PAGINA DE SKILLS */

	section.container-skills{

		padding: 2% 2%;
	}

	section.container-skills .container-skills-img{

		width: 60px;
		height: 60px;
		padding: 0 2%;
		background-size: cover;
		margin: 0 auto;
	}

	section.container-skills h3{

		margin-top: 10px;
		text-align: center;
	}

	section.container-skills .container-skills-wraper{

		width: 70%;
		height: 100%;
		position: relative;
		margin: 0 auto;
		padding: 0 2%;
		line-height: 20px;
		text-align: center;
	}

	.container-skills-wraper p{

		display: inline-block;
		padding: 2px;
		margin: 5px;
		border: 2px solid #ffdf2b;
	}

/*------------------------------------------*/

	/* LINHA - SKILLS */

	.line-skills{

		width: 70%;
		max-width: 700px;
		padding: 0 2%;
		height: 2px;
		background-color: #ccc;
		margin: 0 auto;
	}

/*------------------------------------------*/

	/* POS SKILL */

	section.pos-skills{

		padding: 3% 2%;
		width: 100%;
		max-height: 100px;
		background-color: black;
		color: white;
		text-align: center;

	}

	section.pos-skills a{

		color: #ffdf2b;
	}

/*------------------------------------------*/

	/* AQUI COMEÇA O CONTAINER DA DANKI */

	section.container-danki{

		padding: 2% 2%;
		text-align: center;
	}

	.container-danki-img{

		width: 100px;
		height: 50px;
		border-radius: 10px;
		background-image: url('../imagens/dankiimg.png');
		margin: 0 auto;

	}

	.container-img{

		max-width: 100px;
		margin: 0 auto;
	}

	.container-danki p{

		margin: 0 auto;
		max-width: 500px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.container-danki-img2{

		width: 100%;
		max-width: 400px;
		height: 320px;
		background-image: url('../imagens/coding.png');
		background-size: cover;
		margin: 0 auto;
	}

/*------------------------------------------*/

	/* AQUI COMEÇA A PAGINA DE PROJETOS */

	section.divprojetos{

		padding: 2% 0;
		width: 100%;
		color: white;
		background-color: black;
	}

	section.divprojetos h3{

		text-align: center;
		font-size: 25px;
	}

/*------------------------------------------*/

	/* NOME DOS PROJETOS */

	section.projeto-name{

		width: 100%;
		max-width: 700px;
		padding: 2%;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}

	.projeto-name-line{

		width: 100%;
		max-width: 700px;
		height: 2px;
		background-color: #ccc;
		margin: 0 auto;
		margin-bottom: 15px;
	}


/*------------------------------------------*/

	/* ESTILIZAÇÃO DOS SLIDES */

	/* SLIDE 1 */

	.slider1{

		position: relative;
		width: 100%;
		max-width: 1200px;
		height: 80%;
		max-height: 700px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.slider1 h3{

		position: absolute;
	}

	.slider1 img{

		display: none;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		border: 1px solid black;
		border: 1px solid black;
	}

	.bullets-nav1{

		position: absolute;
		left: 50%;
		bottom: 10px;
		z-index: 10;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

	}

	.bullets-nav1 span{

		width: 16px;
		height: 16px;
		float: left;
		border-radius: 16px;
		background-color: #ffdf2b;	
		cursor: pointer;
		margin: 0 20px;
	}

/*-------------------------------------*/

	/* ESTILIZAÇÃO DOS SLIDES */

	/* SLIDE 2 */

	.slider2{

		position: relative;
		width: 100%;
		max-width: 1200px;
		height: 80%;
		max-height: 700px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.slider2 h3{

		position: absolute;
	}

	.slider2 img{

		display: none;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		border: 1px solid black;
	}

	.bullets-nav2{

		position: absolute;
		left: 50%;
		bottom: 10px;
		z-index: 10;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

	}

	.bullets-nav2 span{

		width: 16px;
		height: 16px;
		float: left;
		border-radius: 16px;
		background-color: #ffdf2b;	
		cursor: pointer;
		margin: 0 20px;
	}
/*------------------------------------------*/

	/* ESTILIZAÇÃO DOS SLIDES */

	/* SLIDE 3 */

	.slider3{

		position: relative;
		width: 100%;
		max-width: 1200px;
		height: 80%;
		max-height: 700px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.slider3 h3{

		position: absolute;
	}

	.slider3 img{

		display: none;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		border: 1px solid black;
	}

	.bullets-nav3{

		position: absolute;
		left: 50%;
		bottom: 10px;
		z-index: 10;
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

	}

	.bullets-nav3 span{

		width: 16px;
		height: 16px;
		float: left;
		border-radius: 16px;
		background-color: #ffdf2b;	
		cursor: pointer;
		margin: 0 20px;
	}

/*------------------------------------------*/

	/* ADICIONANDO RESPONSIVIDADE */

	/* AREA DE PERFIL */

	@media screen and (max-width: 1321px){

	section.perfil-container{

		padding: 0 15%;
	}
}

@media screen and (max-width: 1134px){

	section.perfil-container{

		padding: 0 10%;
	}
}

@media screen and (max-width: 996px){

	.perfil-container-wraper{

		padding: 50px 4%;
		display: block;
		
	}

	.perfil-container-img{

		max-width: 350px;
		margin: 0 auto;
	}

	.perfil-container-text{

		position: relative;
		left: 0;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
		margin-left: -5px;
		width: 100%;
		max-width: 700px;

	}
}



@media screen and (max-width: 500px){

	.perfil-container-img{

		min-width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
}

/*----------------------------------------*/
/*890px*/
@media screen and (max-width: 960px){

	/* ESTILIZANDO O MENU MOBILE */

	nav.desktop{

		display: none;
	}

	nav.mobile{

		display: block !important;
	}

	/* RESPONSIVO / BANNER PERFIL */

	section.banner .banner-perfil{

		padding: 35px 2%;
		text-align: center;

	}

	section.banner .banner-perfil-img{

		width: 250px;
		height: 250px;
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 10%;
		display: block;
	}

	section.banner .banner-perfil-text{

		position: absolute;
		bottom: 0;
		margin: 0 auto;
		margin-bottom: 15%;
		left: 50%;
		width: 80%;
		transform: translateX(-50%);
		display: block;

	}

/*------------------------------------------*/

	/*  RESPONSIVO / ABA DE PERFIL */

	@media screen and (max-width: 1321px){

		section.perfil-container{

			padding: 0 15%;
		}
	}

	@media screen and (max-width: 1134px){

		section.perfil-container{

			padding: 0 10%;
		}
	}

	@media screen and (max-width: 996px){

		.perfil-container-wraper{

			padding: 50px 4%;
			display: block;
			
		}

		.perfil-container-img{

			max-width: 350px;
			margin: 0 auto;
		}

		.perfil-container-text{

			position: relative;
			left: 0;
			text-align: center;
			margin: 0 auto;
			margin-top: 20px;
			margin-left: -5px;
			width: 100%;
			max-width: 700px;

		}
	}

	@media screen and (max-width: 500px){

		.perfil-container-img{

			min-width: 100%;
			max-width: 350px;
			margin: 0 auto;
		}
	}
/*------------------------------------------*/

	/* APLICANDO RESPONSIVIDADE A ABA DE SERVIÇOS */

	section.servicos-div{


	padding: 40px 2%;
	
}

	section.servicos-div img{


	width: 10%;
	max-width: 60px;
	margin: 0 2%;
	margin-top: 5px;
}

/*------------------------------------------*/

	/* APLICANDO RESPONSIVIDADE A ABA DE CONTATO */


section.contato-div .contato-div-form{

	width: 80%;
	min-width: 250px;
	max-width: 400px;


}

/*------------------------------------------*/
	
	/* RESPONSIVO / FOOTER */

	footer{
		padding: 27px 2%;
		text-align: center;

	}
	footer h3:nth-of-type(1){

		float: none;
	}

	footer h3:nth-of-type(2){

		float: none;
	}


/*------------------------------------------*/


/*------------------------------------------*/

}
@media screen and (max-width: 660px){

	/* RESPONSIVO / PAGINA DE SKILLS */

	.container-skills{

		margin-top: 15px;
	}

	.pos-skills{

		margin-top: 20px;
		margin-bottom: 20px;
	}

	.container-danki-img2{

		margin-bottom: 10px;
	}
}
/*-----------------------------------------*/


	/* RESPONSIVO / SLIDER */

@media screen and (max-width: 1030px){

	.slider1, .slider2, .slider3{

		height: 65%;

	}

}

@media screen and (max-width: 790px){

	.slider1, .slider2, .slider3{

		height: 50%;

	}

}

@media screen and (max-width: 700px){

	.slider1, .slider2, .slider3{

		max-width: 1000px;
		height: 40%;

	}

}

/*----------------------------------------*/

@media screen and (max-width: 1040px){

		/* ESTILIZANDO OS BULLETS */ 

	#slider-id{

		bottom: 45px;

	}

	#slider-id span{

		margin: 0 13px;

	}
}

/*--------------------------------------*/

/* CELULARES */

/* PAGINA DE PROJETOS*/

@media screen and (max-width: 428px), and (min-height: 926px){

	section.divprojetos{

		margin-bottom: 15px;
	}

	#slider-id span{

		margin: 0 9px;
		
	}

	.slider1, .slider2, .slider3{

		height: 30%;
	}

}



@media screen and (width: 320px), and (min-height: 548px){

	#slider-id span{

		margin: 0 6px;
		top: 40px;
		position: relative;

	}

}

/*---------------------------------------------*/

/* PROJETOS */

@media screen and (width: 800px), and (min-height: 1280px){

	.slider1, .slider2, .slider3{

		height: 35%;
	}
}

@media screen and (width: 834px), and (min-height: 1194px){

	.slider1, .slider2, .slider3{

		height: 40%;
	}
}

@media screen and (width: 820px), and (min-height: 1180px){

	.slider1, .slider2, .slider3{

		height: 40%;
	}
}

@media screen and (width: 768px), and (min-height: 1024px){

	.slider1, .slider2, .slider3{

		height: 45%;
	}
}

@media screen and (width: 884px), and (min-height: 1104px){

	.slider1, .slider2, .slider3{

		height: 45%;
	}
}


/* SCROLL BAR CUSTOM */

::-webkit-scrollbar{

	width: 18px;
}

::-webkit-scrollbar-track{

	background-color: #dddddd;

}

::-webkit-scrollbar-thumb{

	background-color: #ffdf2d;

}

/*--------------------------- testes -----------------------------*/
